<mat-card
  class="search-card">
  <mat-card-header>
    <mat-card-title
      *ngIf="searchItem?.title; else titleGhost">
      {{ searchItem.title }}
    </mat-card-title>
    <ng-template
      #titleGhost>
      <mat-card-title
        class="search-card__title-ghost">
        GHOST
      </mat-card-title>
    </ng-template>
  </mat-card-header>
  <img
    *ngIf="searchItem?.photo; else photoGhost"
    mat-card-image
    [src]="searchItem.photo"
    alt="Photo item">
  <ng-template
    #photoGhost>
    <div
      class="search-card__photo-ghost"
      mat-card-image>
    </div>
  </ng-template>
</mat-card>
