<mat-toolbar
  color="primary">
  <mat-toolbar-row>
    <span
      routerLink="/"
      queryParamsHandling="preserve">Nav Speed Test</span>
    <span
      class="spacer"></span>
    <a
      routerLink="/config"
      queryParamsHandling="preserve"
      mat-icon-button
      aria-label="Configuration">
      <mat-icon>settings_applications</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
    *ngIf="navigating$ | async"
    class="app__loading-bar"
    color="primary"
    mode="indeterminate">
</mat-progress-bar>
<router-outlet></router-outlet>