<div
  class="home-page__title-bar">
  <h1>Home Page</h1>
</div>
<div
  class="home-page__content">
  <a
    routerLink="search"
    queryParamsHandling="preserve"
    mat-button>Kittens!</a>
</div>


