<nav
  class="listing__nav-bar">
  <a
    mat-button
    routerLink="/search"
    queryParamsHandling="preserve">
    < Back to search
  </a>
</nav>
<div
  *ngIf="listing$ | async as listing"
  class="listing">
  <h1
    *ngIf="listing.title; else titleGhost">
    {{ listing.title }}
  </h1>
  <ng-template
    #titleGhost>
    <h1
      class="listing__title-ghost">TITLE GHOST</h1>
  </ng-template>
  <img
    *ngIf="listing.photo; else imageGhost"
    class="listing__main-image"
    [src]="listing.photo">
  <ng-template
    #imageGhost>
    <div
      class="listing_photo-ghost"></div>
  </ng-template>
  <p
    *ngIf="listing.description; else listingDescription">
    {{ listing.description }}
  </p>
  <ng-template
    #listingDescription>
    <p
      class="listing__description-ghost">
      Description Ghost
    </p>
  </ng-template>
</div>