.listing {
  margin-left: 2rem;
  margin-right: 2rem;
}

.listing__nav-bar {
  margin-left: 1rem;
  margin-right: 1rem;
}

.listing__main-image {
  width: 100%;
}

.listing__title-ghost,.listing__description-ghost {
  width: 50%;
  background-color: #F2F2F2;
  color: #F2F2F2;
}

.listing_photo-ghost {
  width: 100%;
  padding-top: 75%;
  background-color: #F2F2F2;
}