<div
  class="config">
  <div
    *ngIf="navigationDelay$ | async as navigationDelay">
    <p>Navigation Delay: {{ navigationDelay }}</p>
    <mat-slider
      (change)="updateNavigationDelay($event.value)"
      min="0"
      max="5000"
      step="100"
      [value]="navigationDelay"></mat-slider>
  </div>
  <div
    *ngIf="contentLoadDelay$ | async as contentLoadDelay">
    <p>Content Delay: {{ contentLoadDelay }}</p>
    <mat-slider
      (change)="updateContentLoadDelay($event.value)"
      min="0"
      max="5000"
      step="100"
      [value]="contentLoadDelay"></mat-slider>
  </div>
  <div>
    <p>Page Loading Indicator:</p>
    <mat-slide-toggle
      class="example-margin"
      (change)="updateShowPageLoading($event.checked)"
      [checked]="showPageLoading$ | async">
      Show
    </mat-slide-toggle>
  </div>
</div>